<app-nav></app-nav>
<div class="row" style="min-height:98vh; background-color: burlywood;">
  <div class="col-sm-2">
    <div>
      <p>label</p>
      <ul>
        <li><span>icon</span> list item</li>
        <li><span>icon</span> list item</li>
        <li><span>icon</span> list item</li>
      </ul>
    </div>

    <div>
        <p>label2</p>
        <ul>
          <li><span>icon</span> list item</li>
          <li><span>icon</span> list item</li>
          <li><span>icon</span> list item</li>
          <li><span>icon</span> list item</li>
          <li><span>icon</span> list item</li>
          <li><span>icon</span> list item</li>
          <li><span>icon</span> list item</li>
        </ul>
      </div>
    
  </div>
  <div class="col-sm-10">
      <router-outlet></router-outlet>
  </div>
</div>

